header#header {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 0;
}
.header {
  list-style: none;
}
.header__logo {
  width: 15%;
  padding: 30px 30px 31px;
}
.header__logo img {
  width: 115px;
  height: 23px;
}
.header__menu {
  width: 35%;
  display: flex;
  align-items: center;
}
.header__menu ul {
  display: flex;
}
.header__menu ul li {
  list-style: none;
  font-size: 15px;
  padding: 15px 30px;
}
.header__basket {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 32px 30px;
}
.header__basket-counter {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(30, 30, 30, 0.05);
  color: rgba(30, 30, 30, 0.6);
  line-height: 20px;
  margin: 0 0 0 10px;
  text-align: center;
  font-size: 10px;
}
.banner {
  background-color: #fff;
}
.banner__main {
  position: relative;
  box-sizing: border-box;
  padding: 0 50px;
  background-image: url(icons/banner_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 120% 70px;
  height: 550px;
}
.banner__message {
  box-sizing: border-box;
  padding: 100px 0;
  max-width: 550px;
}
.banner__message h1 {
  font-weight: 300;
  font-size: 36px;
}
.banner__message-description {
  color: rgba(30, 30, 30, 0.6);
}
.banner__message-action {
  margin: 40px 0 0;
  display: flex;
}
.banner__message-action-note {
  color: #1e1e1e99;
  margin: 0 0 0 40px;
}
.banner__theme-usual {
  border-radius: 4px;
  padding: 18px 20px;
  font-size: 15px;
}
.banner__theme-blue {
  background-color: #1525be;
  color: #fff;
}
.banner__contact {
  display: flex;
}
.banner__contact-group {
  margin: 0 40px 0 0;
}
.banner__contact-title {
  margin: 0 0 15px 0;
}
.banner__contact-group-items {
  display: flex;
  margin: 0;
  padding: 0;
}
.banner__contact-group-item:last-child {
  margin: 0 0 0 15px;
}
.button {
  box-sizing: border-box;
  border: none;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  box-shadow: none;
  line-height: 1;
  font-weight: 400;
}
.button_theme-gray {
  background-color: rgba(30, 30, 30, 0.05);
  color: rgba(30, 30, 30, 0.6);
}
.button_size {
  padding: 9px 12px;
  border-radius: 2px;
  font-size: 12px;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
  padding: 0;
  font: 15px/1.5 Open Sans, sans-serif;
  background: #f5f5f5;
}
/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}
/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1,
h2 {
  font-size: 36px;
  margin: 0.67em 0;
  font-family: "Open Sans", sans-serif;
}
/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
}
/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}
/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}
/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}
/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}
/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}
/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}
/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}
/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}
/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}
ul {
  list-style: none;
}
.home-products {
  margin: 50px 0 80px;
}
.products {
  box-sizing: border-box;
  padding: 0 50px;
}
.products h2 {
  line-height: 1.3;
  margin: 0;
  padding: 0;
  color: #1e1e1e;
  font-weight: 300;
  font-size: 36px;
}
.products__annotation {
  width: 66.66%;
  color: #1e1e1e99;
  font-size: 15px;
}
.products__list-item {
  margin: 50px -10px 0;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 250px;
}
.products__item {
  width: 25%;
  box-sizing: border-box;
  padding: 0 15px;
  min-width: 300px;
}
.products__item:first-child {
  margin-left: -5px;
}
.products-item__image {
  position: relative;
  box-sizing: border-box;
  padding: 0 0 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px 6px 0 0;
}
.products-item__image-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border-radius: 0 0 6px 6px;
}
.products-item__info {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}
.products-item__name {
  font-size: 14px;
  margin: 0 0 15px 0;
}
.products-item__description {
  box-sizing: border-box;
  padding-right: 20px;
  font-size: 12px;
  min-height: 80px;
  color: rgba(30, 30, 30, 0.6);
}
.products__action-button {
  margin: 30px 0 0;
}
.rent__period {
  margin: 30px 0 0;
}
.rent__period-item {
  box-sizing: border-box;
  padding: 8px 10px 6px;
  background-color: rgba(30, 30, 30, 0.05);
  border-radius: 4px;
}
.rent__period_selector-item-list {
  display: flex;
  margin: -5px;
  flex-wrap: wrap;
  font-size: 0;
}
.rent__period_selector-item {
  box-sizing: border-box;
  width: 33.33%;
  padding: 5px;
}
.item__rent-time {
  margin: 0 0 6px;
  font-size: 10px;
  color: rgba(30, 30, 30, 0.6);
}
.item__rent-cost {
  color: #1e1e1e;
  font-size: 15px;
}
.home_games {
  margin: 0 0 100px 0;
}
.games {
  margin: 0 0 50px;
}
.games__main {
  padding: 0 50px;
}
.games__main h2 {
  line-height: 1.3;
  margin: 0;
  padding: 0;
  color: #1e1e1e;
  font-weight: 300;
  font-size: 36px;
}
.games__annotation {
  color: #1e1e1e99;
  margin: 14px 0 36px 0;
  max-width: 75%;
}
.games__item {
  box-sizing: border-box;
  width: 20%;
  margin: 0 0 20px;
  padding: 0 10px;
  min-width: 200px;
}
.games__item-list {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -10px;
}
.games__info {
  position: relative;
  border-radius: 0 0 6px 6px;
  height: 210px;
  padding: 20px 30px 20px 20px;
  background-color: #fff;
}
.game-item_image {
  position: relative;
  box-sizing: border-box;
  padding: 0 0 100%;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
}
.game-item_image_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.game-item {
  min-width: 190px;
}
.game-item_name {
  font-size: 14px;
  margin: 0 0 16px;
}
.game-item_about {
  font-size: 12px;
  color: rgba(30, 30, 30, 0.6);
  line-height: 1.4;
}
.game-item_year {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 12px;
  color: rgba(30, 30, 30, 0.6);
}
.games__articles {
  margin: 0 0 20px -10px;
}
.games__articles-item-list {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}
.game-articles-item {
  box-sizing: border-box;
  padding: 0 10px;
  width: 33.33%;
}
.game-article-item {
  box-sizing: border-box;
  padding: 20px 40px 20px 20px;
  border-radius: 6px;
  background-color: #fff;
}
.game-article-item__logo {
  width: 50px;
  height: 50px;
  margin: 0 0 30px;
}
.game-article-item__name {
  font-size: 18px;
  margin: 0 0 14px;
}
.game-article-item__annotation {
  min-height: 110px;
  font-size: 15px;
  color: rgba(30, 30, 30, 0.6);
}
.game-article-item__action {
  font-size: 15px;
  margin: 40px 0 0;
}
.game-article-item__action a {
  color: rgba(30, 30, 30, 0.6);
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(30, 30, 30, 0.15);
}
.home_workflow {
  margin: 0 0 80px 0;
}
.workflow {
  border-top: 1px solid #1e1e1e;
}
.workflow__main {
  box-sizing: border-box;
  padding: 40px 50px 0;
}
.workflow_item-list {
  margin: 0 -10px;
  font-size: 0;
  display: flex;
  flex-wrap: nowrap;
}
.workflow-item {
  position: relative;
  box-sizing: border-box;
  padding: 0 10px;
  width: 33.33%;
}
.workflow-item_content {
  box-sizing: border-box;
  padding: 0 40px 0 0;
}
.workflow-item_label {
  position: absolute;
  width: 24px;
  height: 24px;
  top: -52px;
  line-height: 24px;
  font-size: 12px;
  background-color: #1e1e1e;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
.workflow-item_title {
  font-size: 18px;
  margin: 0 0 14px;
}
.workflow-item_annotation {
  font-size: 15px;
  color: rgba(30, 30, 30, 0.6);
}
.home_faq {
  margin: 0 0 80px;
}
.faq {
  box-sizing: border-box;
  padding: 0 50px;
}
.faq h2 {
  margin: 0 0 14px -2px;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 300;
}
.faq_description {
  max-width: 66.66%;
  color: rgba(30, 30, 30, 0.6);
}
.faq__item {
  margin: 0 0 10px;
}
.faq__item-list {
  margin: 50px 0 0;
}
.faq-item {
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  font-size: 0;
  cursor: pointer;
}
.faq-item__question {
  box-sizing: border-box;
  padding-right: 20px ;
  width: 90%;
  font-size: 18px;
}
.faq-item__answer {
  display: none;
  box-sizing: border-box;
  max-width: 66.66%;
  margin: 30px 0 0;
  padding: 0 0 5px;
  font-size: 15px;
  color: rgba(30, 30, 30, 0.6);
}
.plus {
  display: flex;
  margin: 5px 0 0 110px;
}
.line__x {
  background-color: black;
  transform: rotate(90deg);
}
.line__y {
  background-color: black;
  transform: rotate(0deg);
}
.line__x,
.line__y {
  width: 1px;
  height: 25px;
  transition: 0.7s ease;
}
.plus_active {
  z-index: 100;
  display: block;
}
.open .faq-item .answer {
  display: block;
}
